body{
    text-align: center;
}
h1 {
    font-size: 4rem;
    font-family: monospace;
    color: rgb(114, 52, 41);
}
.btn {
    font-size: 4rem;
    border-radius: 50px;
    border: 2px solid black;
    background-color: hsl(180, 98%, 50%);
    cursor: pointer;
    padding: 5px;
    margin: 10px;
}
.btn:hover {
    background-color: hsl(180, 98%, 45%);
    box-shadow: 10px 0px 50px;
    transform: scale(1.05);
}
h2 {
    margin: 0;
    display: inline;
}
#playerScore {
    color: hsl(120, 100%, 40%);
}
#computerScore {
    color: hsl(0, 100%, 50%);
}
p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline;
}
.container {
    margin-top: 50px;
}
#result {
    font-size: 2rem;
    color: hsl(120, 100%, 30%);
}